/**
 * main.scss: css specific to the data-manager-portlet.
 *
 * Created:     2017-10-12 16:17 by Christian Berndt
 * Modified:    2017-11-01 16:55 by Christian Berndt
 * Version:     1.0.1
 * 
 */
@import "bourbon";
@import "mixins";

.container {
    
    .container-fluid-1280 {
        padding-left: 0; 
        padding-right: 0; 
    }
    
    .management-bar {
        .container-fluid-1280 {
            padding-left: 15px; 
            padding-right: 15px; 
        }    
    }  
}
