/**
 * main.scss: css specific to the data-manager-portlet.
 *
 * Created:     2017-10-12 16:17 by Christian Berndt
 * Modified:    2018-01-15 20:16 by Christian Berndt
 * Version:     1.0.6
 * 
 */
@import "bourbon";
@import "mixins";

.btn-primary {
    
    > a {
    
        color: white; 
        
        &:focus, 
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.container {
    
    .container-fluid-1280 {
        padding-left: 0; 
        padding-right: 0; 
    }
    
    .management-bar {
        .container-fluid-1280 {
            padding-left: 15px; 
            padding-right: 15px; 
        }    
    }  
}
 
.item-remove {
    .taglib-text-icon {    
        &:before {
            content: "\f00d"; 
            font-family: 'fontawesome-alloy';
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            margin-right: .3em;
            margin-right: .4em;
            speak: none;
            text-decoration: inherit;
            text-transform: none;
        }
    }
}

.portlet-data-manager {
    
    .display {
    
        background-color: #d3d3d3;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        
        a {
            color: #29353D;
            
            &:focus,
            &:hover {
                color: #40a4ec;
                text-decoration: none; 
            }
        }
        
        .caption {
            padding: 15px;
        }
        
        .face {
        
            background: #fcfcfc;
            border-radius: 50%;
            display: table; 
            height: 170px; 
            margin: 0 auto;
            position: relative;
            width: 170px;
            
            .value-wrapper {
                
                background-color: transparent;
                display: table-cell; 
                text-decoration: none; 
                vertical-align: middle; 
            
            }
            
            .unit {
                display: block; 
                font-size: 16px;
                font-weight: normal; 
                margin-top: -15px;                   
            }
            
            .value {
                display: block;
                font-size: 48.5px; 
                font-weight: 600;
                margin-bottom: -15px;
            }
        }
        
        .name {
            font-weight: 600; 
            padding: 15px;
        }
    }

    .graph-wrapper {
        padding: 15px;
    }
}
